<mat-card appearance="outlined">
  <mat-card-header>FORMULARIO</mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Nombre" formControlName="nombre">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Teléfono" formControlName="telefono">
        </mat-form-field>
      </p>

      <p>

        <mat-form-field appearance="outline">
          <input matInput placeholder="Asunto" formControlName="asunto">
        </mat-form-field>
      </p>

      <p>

        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Mensaje" formControlName="mensaje"></textarea>
        </mat-form-field>
      </p>

      <p>

        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </p>
      </form>
  </mat-card-content>
</mat-card>
