
<div class="body-landing">

  <app-landing-welcome-item-animation></app-landing-welcome-item-animation>

  <app-landing-brands-item-animation></app-landing-brands-item-animation>
  @if (currentBreakpoint == breakpoints.Large || currentBreakpoint == breakpoints.Medium) {
    <div class="landItem" id="lndCompu">
      <app-landing-item
        [item]="landingintems[0]"
      >
      </app-landing-item>
      <app-landing-flags-item-animation></app-landing-flags-item-animation>
    </div>
  } @else if (currentBreakpoint == breakpoints.Small || currentBreakpoint == breakpoints.XSmall) {
    <div class="landItem" id="lndCel">
      <app-landing-item
        [item]="landingintems[0]"
      >
      </app-landing-item>
      <app-landing-flags-item-animation></app-landing-flags-item-animation>
    </div>
  }

  <app-landing-item
    [item]="landingintems[1]"
  >
  </app-landing-item>
</div>
