<!-- [src]="constantes.IMGBAN001"src="./assets/aa.png"-->



 <!-- CMMT EXPLN XSMALL TELEFONOS-->
@if(currentBreakpoint == breakpoints.XSmall || currentBreakpoint == breakpoints.Small){
    <div
    id="b1"
    data-aos="fade-up"
    class="body"
    >
        <div>
          <p-image
          [src]="item?.imgsrc"
          [preview]="false"
          alt="Image"
          [width]="currentWidth">
            <ng-template pTemplate="indicator">
              <i class="pi pi-check"></i>
            </ng-template>
          </p-image>
        </div>
        <div
        id = "TLT1"
        class="title"
        >
            <h1
            >
                {{item?.descripcion}}
            </h1>


            <!-- CMMT BTN Formulario -->
            @if(item?.button) {
              <button mat-fab extended [routerLink]='link'>
                <mat-icon>favorite</mat-icon>
                  {{item?.buttonName}}
              </button>
            }
        </div>
    </div>
}


 <!-- CMMT EXPLN LARGE AND MEDIUM COMPUTADORAS -->

@else if (currentBreakpoint == breakpoints.Large || currentBreakpoint == breakpoints.Medium){
  <div
  id="b2"
  data-aos="fade-up"
  class="body">


    <div
    class="title"
    id = "TLT2"
    >

      <h2>
          {{item?.descripcion}}
      </h2>


      @if(item?.button) {
        <button mat-fab extended [routerLink]='link'>
          <mat-icon>favorite</mat-icon>
            {{item?.buttonName}}
        </button>
      }


    </div>






  </div>
}

