
/*CMMT ITEM LANDING 1*/


.landWelcome{
  display: flex;
  padding: 15px;
}

#lndwelPc.landWelcome{
  width: 80vw; /* Ocupa el 100% del ancho de la ventana */
  height: 80vh; /* Ocupa el 100% de la altura de la ventana */
  display: flex;
  padding: 15px;
  align-items: center;

}

#lndwelCel.landWelcome{
  display: flex;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}


.titleitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: var(--primary-color-text, var(--mat-text-color));
}

.landWelcome h1{
  font-size: 7em;
  font-family: 'Abel';
  margin-bottom: -40px;
}
#lndwelCel.landWelcome h1{
  font-size: 5em;
  font-family: 'Abel';

}

.svgItem {
  position: relative;
  color: var(--primary-color-text, var(--mat-text-color));
}

#box.svgItem {
  color: white; /* Cambia el color aquí */
  position: relative;
  animation: svg 4s infinite, moveder 1s forwards; /* Agrega múltiples animaciones aquí */
}

#cart.svgItem {
  color: white; /* Cambia el color aquí */
  position: relative;
  animation: svg 4s infinite, moveizq 1s forwards; /* Agrega múltiples animaciones aquí */
}

@keyframes svg {
  0%   {color: #c1c1c1;}
  14.2%  {color: #aac7ff;}
  28.4%  {color: #f9f9ff;}
  42.6%  {color: #d6e3ff;}
  56.8% {color: #dae2f9;}
  71% {color: #aac7ff;}
  100%   {color: #c1c1c1;}
}

@keyframes moveder {
  0%   {left: 100px; transform: rotate(0deg);}
  100%   {left: 0px; transform: rotate(-30deg);}
}
@keyframes moveizq {
  0%   {right: 100px; transform: rotate(0deg);}
  100%   {right: 0px; transform: rotate(25deg);}
}

