<!-- CMMT COMPU -->
@if(currentBreakpoint == breakpoints.Large || currentBreakpoint == breakpoints.Medium){
<div class="navbar">
  <mat-toolbar class="inner-navbar" style="justify-content: space-between;">



    <a routerLink="" class="navbar-brand" id="br1">





      <span class="title" id="titlePc">
        <h4>sendbol</h4>
      </span>



    </a>
    
    

    
    <button mat-fab extended class="resaleBtn">

      <mat-icon>favorite</mat-icon>

      <span style="display: flex;">
        <h5>sendbol</h5>
        <span style="padding-right: 3%;">   </span>
        <h4>Re-sale</h4>
      </span>

    </button>

  </mat-toolbar>

</div>

}


<!-- CMMT CELULAR -->
@else if (currentBreakpoint == breakpoints.XSmall || currentBreakpoint == breakpoints.Small) {


<div class="navbar">
  <mat-toolbar class="inner-navbar">

    <a routerLink="" class="navbar-brand" id="br1">



      <span class="title" id="titleCel">
        <h4>sendbol</h4>
      </span>


    </a>

    <span class="example-spacer"></span>
    <button mat-fab extended>
      <mat-icon>favorite</mat-icon>
      Re-sale
    </button>

  </mat-toolbar>
</div>
}
