<!-- [src]="constantes.IMGBAN001"
 src="./assets/aa.png"-->
<div data-aos="fade-up" class="body">
  <div class="title">
    <h1>
      ENVIA TUS PAQUETES DESDE ESTADOS UNIDOS
      <img src="./assets/images/emojis/flags/USA.png" alt="USA Flag" width="50">
      A BOLIVIA !
      <img src="./assets/images/emojis/flags/bolivia.png" alt="Bolivia Flag" width="50">
    </h1>
    <button mat-fab extended>
      <mat-icon>favorite</mat-icon>
      Llevame Alla!
    </button>

  </div>
  <div style="text-align: right;">
    <p-image
    [src]="constantes.IMGBAN001"
    [preview]="false"
    alt="Image"
    width="500">
      <ng-template pTemplate="indicator">
        <i class="pi pi-check"></i>
      </ng-template>
    </p-image>
  </div>
</div>

