/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Opificio';
  src: url(assets/fonts/opificio/opificio_regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Opificio';
  src: url(assets/fonts/opificio/opificio_bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'Typo-hoop';
  src: url(assets/fonts/typo-hoop/Typo\ Hoop_Regular_Demo.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

:host {
  display: flex;

}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fbf3f0;
}


@import "@angular/material/core/theming";
